.Sidebar__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  border-right: 1px solid var(--gray--200);
  justify-content: space-between;
}

.top__container {
  padding: 24px;
}

.logo__conatiner {
  display: flex;
  align-items: center;
}

.company__logo {
  width: 32px;
  height: 32px;
  background-color: var(--gray--300);
  margin-right: 10px;
}

.logo__name {
  color: var(--primary--600);
  font-size: var(--text-md---font-size);
  font-weight: var(--semibold-font-weight);
  line-height: 19px;
}

.search__bar {
  width: 231px;
  height: 44px;
  background: var(--base--white);
  border: 1px solid var(--gray--300);
  border-radius: 8px;
  margin: 15px 0px;
}

.tab__conatiners {
  display: flex;
  align-items: center;
  gap: 15px;
  color: inherit;
  text-decoration: none;
  padding-left: 4px;
  border-radius: 5px;
}

.tab__title {
  font-size: var(--text-md---font-size);
  font-weight: (--semibold-font-weight);
  line-height: (--text-md---line-height);
  color: var(--gray--700);
}

.tab__conatiners__selected {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--gray--50);
  color: inherit;
  text-decoration: none;
  padding-left: 4px;
  border-radius: 5px;
}

.tab__title__selected {
  font-size: var(--text-md---font-size);
  font-weight: (--semibold-font-weight);
  line-height: (--text-md---line-height);
  color: var(--gray--900);
}

.profile__conatiner {
  border-top: 1px solid var(--gray--200);
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__picture {
  width: 40px;
  height: 40px;

  background: var(--gray--300);
  border-radius: 5px;
}

.username {
  color: var(--gray--700);
  font-size: var(--text-sm---font-size);
  font-weight: var(--semibold-font-weight);
  line-height: var(--text-sm---line-height);
  margin: 0;
}

.email {
  color: var(--gray--600);
  font-size: var(--text-sm---font-size);
  font-weight: var(--regular-font-weight);
  margin: 0;
}
